<p>This is the add partial.</p>

<form ng-submit="createContact()" class="inline-form">
  <span classs="inline-form"><label>First Name</label><input type="text" ng-model="contact.firstName" /></span>
  <span><label>Last Name</label><input type="text" ng-model="contact.lastName" /></span>
  <span><label>E-Mail</label><input type="text" ng-model="contact.email" /></span>
  <span><label>Phone Number</label><input type="text" ng-model="contact.phone" /></span>
  <span><label>Location</label><input type="text" ng-model="contact.location" /></span>
  <span><label>Description</label><input type="text" ng-model="contact.description" /></span>
</form>